@{
    ViewData["Title"] = "Pagina de Inicio";

}   

 <h1 aling="center">Bienvenido a EventosTec</h1>

<div class="item">
    <img src="~/images/eventosss.png">
</div>


<div class="row" aling="center">
    <div class="col-md-4">
        <h2>Eventos Proximos</h2>
        <ul>
            <li>Aqui se visualiza la lista de los eventos mas destacados</li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2>Promociones</h2>
        <ul>
            <li>Aqui se visualiza la lista de las promociones</li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2>Otros</h2>
        <ul>
            <li>Aqui se visualiza la lista de algun otro anuncio</li>

        </ul>
    </div>

</div>

