@{
    ViewData["Title"] = "Pagina de Inicio";

}   

 <h1 aling="center">Bienvenido a EventosTec</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" align="center">
           
                <img src="~/images/imagen1.jpg" class="img-responsive" />
                <div class="carousel-caption" role="option">

                </div>
        </div>
        <div class="item" align="center">
            <img src="~/images/imagen2.jpg" class="img-responsive" />
            <div class="carousel-caption" role="option">
               
            </div>
        </div>
        <div class="item" align="center">
            <img src="~/images/imagen3.png" class="img-responsive" />
            <div class="carousel-caption" role="option">
              
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row" aling="center">
    <div class="col-md-4">
        <h2>Eventos Proximos</h2>
        <ul>
            <li>Aqui se visualiza la lista de los eventos mas destacados</li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2>Promociones</h2>
        <ul>
            <li>Aqui se visualiza la lista de las promociones</li>

        </ul>
    </div>
    <div class="col-md-4">
        <h2>Otros</h2>
        <ul>
            <li>Aqui se visualiza la lista de algun otro anuncio</li>

        </ul>
    </div>

</div>

